
<section class="contato-section">

    <div class="d-none d-md-block">
        <div class="col-12 d-flex" id="containner">
            <div class="col-4 denuncia">
                <img src="~/img/DENUNCIE.png" style="width:100%; margin-bottom:90px; margin-top:80px; margin-left:70px; width: 435px; height:535px;" />
            </div>
            <div class="col-6 text-center" style="margin-left:30px; margin-top:120px; font-size:20px;">
                <h2>Contatos Contra Desmatamento</h2>
                <p>
                    Se você testemunhou atividades suspeitas de desmatamento ou<br />
                    deseja se envolver em nossas iniciativas de conservação,<br />
                    entre em contato conosco através dos seguintes canais:
                </p>
                <br />
                <p>
                    -Telefone:(94)9999-4568<br />
                    -Email:contato@florestaviva.org<br />
                    -Endereço: Rua das Conservações ,135,Cidade Verde,SP
                </p>
                <br />
                <p>
                    Estamos disponíveis para atender suas denúncias, fornecer<br />
                    informações e colaborar para a proteção de nossas florestas.<br />
                    Sua participação é essencial para a preservação do meio ambiente.<br />
                    Juntos, podemos fazer a diferença.
                </p>
            </div>
        </div>
    </div>

  



    <div class="col-12 container-sm d-block d-md-none d-sm-block" id="containner">
        <div class="col-4 ">
            <img src="~/img/DENUNCIE.png" style=" margin-bottom:60px; margin-top:50px; margin-left:auto; width: 415px; height:535px;" />
        </div>
        <div class="col-6 text-center" style="align-items:center; margin-left:auto; margin-right:auto; margin-bottom:60px;">
            <h2 style="font-size:30px;">Contatos Contra Desmatamento</h2>
            <p style="font-size:20px;">
                Se você testemunhou atividades suspeitas de desmatamento ou<br />
                deseja se envolver em nossas iniciativas de conservação,<br />
                entre em contato conosco através dos seguintes canais:
            </p>
            <br/>
            <p style="font-size:20px;">
                -Telefone:(94)9999-4568<br />
                -Email:contato@florestaviva.org<br />
                -Endereço: Rua das Conservações ,135,Cidade Verde,SP
            </p>
            <br/>
            <p style="font-size:20px;">
                Estamos disponíveis para atender suas denúncias, fornecer<br />
                informações e colaborar para a proteção de nossas florestas.<br />
                Sua participação é essencial para a preservação do meio ambiente.<br />
                Juntos, podemos fazer a diferença.
            </p>
        </div>
    </div>
</section>