@{
    Layout = "_LayoutHomeF";
}



@{
    ViewData["Title"] = "Home Page";
}



<div id="carouselExampleControls" class="carousel slide container" data-bs-ride="carousel" style="margin-right:auto; margin-left:auto; margin-top:80px; margin-bottom:70px;">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/1.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/img/2.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/img/3.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/img/4.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div id="faixa" style="margin-top:30px;">
    <div class="pText">
        <p>
            Tenha controle do seu trabalho, acompanhe suas tarefas
        </p>
    </div>
    <div class="d-flex" id="btnd">
        <a href="~/../../Planejamento/Index" style="text-decoration: none;">
            <button class="btn-css">
                Planeje!
            </button>
        </a>
    </div>
</div>




<div id="container-sobre" class="d-none d-md-block">
    <div id="sobre-nos">
        <div id="topo">

            <h1 class="sobre-h1">
                Nossa História
            </h1>
            <hr class="hr-historia">
            <div id="historia">
                <p>
                    Somos uma empresa dedicada a fornecer os melhores serviços e produtos para nossos clientes.
                    Nossa missão é garantir a satisfação e o sucesso de todos que confiam em nós.
                    Por este motivo está página é dedicada aos nossos funcionários e gerentes, para que melhor atuação do projeto e para solucionar os problemas de forma mais sucinta e rápida!
                </p>

            </div>
        </div>
    </div>
</div>



<div class="container-sm d-block d-md-none d-sm-block" style="margin:20px; margin-right:20px; margin-bottom:80px;">


    <h1 style="margin-top:80px; font-size:30px;">
        Nossa História
    </h1>
    <hr style="margin-right:20px;">
    <div>
        <p style ="margin-right:30px; font-size:24px; text-align:center;">
            Somos uma empresa dedicada a fornecer os melhores serviços e produtos para nossos clientes.
            Nossa missão é garantir a satisfação e o sucesso de todos que confiam em nós.
            Por este motivo está página é dedicada aos nossos funcionários e gerentes, para que melhor atuação do projeto e para solucionar os problemas de forma mais sucinta e rápida!
        </p>

    </div>

</div>





