/* Estilos para dispositivos móveis */
@media (max-width: 576px) {
    #icons {
        color: #006400;
        text-decoration: none;
    }

    ul {
        margin-left: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}






a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

#logo {
    width: 440px;
    height: 60px;
}

#divl {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: -45px;
}

#bg-header {
    background-color: #008932;
}

#container {
    display: flex;
}

#nav {
    display: flex;
    align-items: center;
}

#icons {
    color: #006400;
    background-color: white;
    border-radius: 50%;
    padding: 25px;
    margin-left: 10px;
    text-align: center;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#final {
    justify-content: end;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: auto;
    margin-right: -70px;
}

.fot {
    background-color: #008932;
    text-align: center;
    color: white;
    padding: 2px;
}
