<div>
    <div id="container-sobre">
        <div id="sobre-nos">
            <div id="topo">

                <h1 class="sobre-h1">
                    Nossa História
                </h1>
                <hr class="hr-historia">
                <div id="historia">
                    <p>
                        A Floresta Viva é uma projeto que se iniciou em agosto de 2024, <br />
                        se tornando uma plataforma dedicada à proteção das florestas, <br />
                        permitindo que cidadãos denunciem atividades de desmatamento.
                    </p>
                    <img src="~/img/logoBola.png" style="width:220px; height:220px;" />
                </div>
            </div>
        </div>
    </div>

    <div id="PTotal">
        <div class="containerC">
            <h1>
                Com o que contamos?
            </h1>
            <div class="cards">
                <div class="card">
                    <img alt="Tecnologia avançada para monitorar áreas florestais" height="100" src="~/img/tecnoligias.png" width="100" style="position: absolute; top: -50px; left: 50%; transform: translateX(-50%); background-color: #fff; border-radius: 50%; padding: 10px;" />
                    <h2>
                        Tecnologias
                    </h2>
                    <p>
                        Utilizamos tecnologia avançada para monitorar áreas florestais e trabalhamos com especialistas e autoridades para investigar denúncias e tomar medidas necessárias.
                    </p>
                </div>
                <div class="card">
                    <img alt="Campanhas de reflorestamento e recursos educativos" height="100" src="~/img/anuncios.png" width="100" style="position: absolute; top: -50px; left: 50%; transform: translateX(-50%); background-color: #fff; border-radius: 50%; padding: 10px;" />
                    <h2>
                        Campanhas
                    </h2>
                    <p>
                        Além disso, promovemos campanhas de reflorestamento e oferecemos recursos educativos para aumentar a conscientização sobre a conservação ambiental. Junte-se a nós para proteger nossas florestas e garantir um futuro sustentável.
                    </p>
                </div>
                <div class="card">
                    <img alt="Equipe de profissionais capacitados" height="100" src="~/img/profissionais.png" width="100" style="position: absolute; top: -50px; left: 50%; transform: translateX(-50%); background-color: #fff; border-radius: 50%; padding: 10px;" />
                    <h2>
                        Profissionais
                    </h2>
                    <p>
                        Temos uma equipe de profissionais extremamente capacitados, especializados em todos os tipos de intervenção que poderá ser necessária.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div id="faixa">
        <div class="pText">
            <p>
                Floresta Viva – Protegendo Nossa Riqueza Natural
            </p>
        </div>
    </div>


    <div id="container" style="margin-left:auto; margin-right:auto;">
        <div class="total">
            <h1 style="padding:20px;">
                Caso solucionado
            </h1>
            <div class="info" style="padding:10px;">
                <span class="label">Queimas em Jau  ----------  </span>
                <span class="value">Solução em menos de 24 h dos incendios que aconteceram nas rodovias</span>
            </div>
            <div class="info" style="padding:10px;">
                <span class="label">Desmatamento amazonia  ----------  </span>
                <span class="value">Equipe interveio em 72 h a desmatamento irregular</span>
            </div>
            <div class="info" style="padding:10px;">
                <span class="label">Garimpo ilegal  ----------  </span>
                <span class="value">Foram apreendidos 12 garimpeiros ilegais em áreas de risco para a população</span>
            </div>
        </div>
    </div>
</div>