
<div>
    <div style="margin-left:20px;">
        <a href="~/../../Home/Index">
            <svg bootstrap-icon="ArrowLeft" width="80" height="80" color="#094408"></svg>
        </a>
    </div>

    <div class="margem">
        <div class="caixa">
            <img class="imgdenuncias" src="~/img/b3.jpg" alt="imagemdesastre" style="width:132px; height:132px; box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.4); border-radius:90px; margin-top:30px;" />
            <div class="alinhamento">
                <p class="nome" style="font-size:36px">Desmatamento</p>
                <p class="conteudo" style="font-size: 20px;">
                    No dia 15/11, observei o desmatamento de areas de presenvação. Árvores estão sendo derrubadas sem autorização, resultando na degradação do ecossistema e na perda de habitats naturais.
                </p>
            </div>
        </div>

    </div>


    <div id="container" style="margin-left:auto; margin-right:auto;">
        <div class="total">
            <h1 style="padding:20px;">
                Caso solucionado
            </h1>
            <div class="info" style="padding:10px;">
                <span class="label">Tempo  ----------  </span>
                <span class="value">Equipe interveio em 72 h a desmatamento irregular</span>
            </div>
        </div>
    </div>
</div>
