@{
    Layout = "_LayoutPlanejamento";
}

<div id="PTotal">
    <div class="containerC text-center">
        <h1>Planejamento</h1>
        <div class="row cards">
            <!-- Card 1 -->
            <div class="col-12 col-md-4 card position-relative">
                <img alt="reunioes" src="~/img/im1.png" class="position-absolute rounded-circle" style="top: -50px; left: 50%; transform: translateX(-50%); height: 120px; width: 120px; background-color: #fff; padding: 10px;" />
                <h2>Reuniões</h2>
                <textarea placeholder="Digite aqui" class="w-100" style="color: black; background-color: transparent; border-color: transparent; text-decoration: none; height: 300px;"></textarea>
            </div>
            
            <!-- Card 2 -->
            <div class="col-12 col-md-4 card position-relative">
                <img alt="Anotacoes" src="~/img/im2.png" class="position-absolute rounded-circle" style="top: -50px; left: 50%; transform: translateX(-50%); height: 120px; width: 120px; background-color: #fff; padding: 10px;" />
                <h2>Anotações</h2>
                <textarea placeholder="Digite aqui" class="w-100" style="color: black; background-color: transparent; border-color: transparent; text-decoration: none; height: 300px;"></textarea>
            </div>
            
            <!-- Card 3 -->
            <div class="col-12 col-md-4 card position-relative">
                <img alt="Objetivos/Metas" src="~/img/im3.png" class="position-absolute rounded-circle" style="top: -50px; left: 50%; transform: translateX(-50%); height: 120px; width: 120px; background-color: #fff; padding: 10px;" />
                <h2>Objetivos/Metas</h2>
                <textarea placeholder="Digite aqui" class="w-100" style="color: black; background-color: transparent; border-color: transparent; text-decoration: none; height: 300px;"></textarea>
            </div>
        </div>
    </div>
</div>
