<!--

<div class="container">
    <section class="banner">
        <img src="~/img/baner.png" style="width:100%; margin-top:0px;" />
    </section>
    <section class="ação">
        <div class="row col-12" style="margin-bottom:80px">

            <div class="col-7" id="containner">
                <img src="~/img/baixo1.png" style="width:80%; margin-top:80px;" />
            </div>
            <div class="col-4">
                <img src="~/img/baixo2.webp" style="width:120%; margin-top:20px; margin-bottom:50px;" />
                <button class="denuncie-btn" style="margin-left:170px;">Denuncie </button>
            </div>

        </div>

    </section>
</div> -->

<div class="d-none d-md-block">
    <section class="banner">
        <img src="~/img/baner.png" style="width:100%; margin-top:0px;"/>
    </section>
    <section class="acao">
        <div class="row col-12">

            <div class="col-7" id="containner">
                <img src="~/img/baixo1.png" style="width:80%; margin-top:180px;" />
            </div>
            <div class="col-4">
                <img src="~/img/baixo2.webp" style="width:120%; margin-top:20px; margin-bottom:50px;" />
                <a href="~/../../Denuncia/Index" style="text-decoration: none;">
                    <button class="denuncie-btn" style="margin-left:170px;">Denuncie </button>
                </a>
            </div>

        </div>

    </section>
</div>



<div class=" container-sm d-block d-md-none d-sm-block">
    <img src="~/img/baner.png" style="width:100%; margin-top:0px;" />
    <img src="~/img/baixo1.png" style="width:95%; margin-top:40px; margin-left:5px;" />
    <img src="~/img/baixo2.webp" style="width:100%; margin-top:20px; margin-bottom:50px;" />
    <a href="~/../../Denuncia/Index" style="text-decoration: none;">
        <button class="denuncie-btn" style="margin-left:105px; margin-bottom:80px;">Denuncie </button>
    </a>
</div>

